* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    color: whitesmoke;
    background-image: linear-gradient(to right, rgb(43, 135, 255) , rgb(0, 4, 255));
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 5px;
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 15px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px;
}

h4 {
    padding: 10px;
}

hr {
    font-size: 1rem;
}

#search {
    margin-left: 20px;
}

#weather-now h3 {
    font-size: 1.5rem;
    font-weight: 550;
    padding: 15px;
}

#weather-now {
    margin-right: 25px;
}

#search-form {
    border-bottom: 3px solid grey;
    padding-bottom: 10px;
}

#search-btn {
   background-color: rgb(1, 69, 196);
}

#weather-cards .card {
    background-color: rgb(0, 153, 255);
    color: white;
    border: 2px solid black;
}

#weather-cards .card img {
    width: 50px;
}

#cached-city-btn {
    background-color: beige;
}

#weather-now {
    margin-right: 10px;
}

#weather-now .card {
    border: 2px solid grey;
}

#weather-now img {
    max-width: 70px;
    max-height: 700px;
}

p {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 0;
}

li {
    list-style: none;
}

#history {
    padding-left: 0;
    margin-top: 1.2rem;
}

.history {
    padding: 4px;
    width: 100%;
    background-color: rgb(0, 153, 255);
    margin-bottom: 0.5rem;
    border-radius: 3px 3px 3px 3px;;
}